@{ 
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Shared, Pratice</h1>
            <h3>Với mục đích tạo sân chơi cho anh em IT chúng ta, ở đây chúng tôi chia sẻ kiến thức và kinh nghiệm</h3>
            <p class="lead">Tham gia để xây dựng sân chơi cho chúng ta </p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Được ra đời vào 2020</div>
            <div class="card-body">
                STU Q&A là sân chơi cho tất cả các bạn sinh viên. Ở đây chúng tôi giải đáp thắc mắc của các bạn,
                chia sẻ kiến thức lẫn kinh nghiệm chúng tôi học được.Đây cũng là nơi để giúp các bạn tân sinh viên hiểu thêm về hoạt động của nhà trường
            </div>
        </div>
    </div>
    <div class="col-sm-6">
         <div class="card">
             <div class="card-header bg-light">Hợp tác cùng chúng tôi</div>
             <div class="card-body">
                 STU Q&A nhận được sự hợp tác từ các thầy cô hiện đang là giảng viên cho trường chúng ta hiện nay. Đồng thời cũng tham khảo
                 kiến thức và tài liệu từ những giáo sư đầu ngành trong và ngoài nước.
             </div>
         </div>
    </div>
</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>