@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-light">Hòm thư góp ý</div>
            <div class="card-body">
                Email: <a href="mailto:builehoangnhattruong@gmail.com">Nhấn vào đây để email cho tụi mình</a>
            </div>
        </div>
    </div>
</div>

<script>
    $("a[href='/home/contact']").attr("id", "active");
</script>